<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布问题</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body style="background-color:gainsboro">
<div th:include="index::copyright"></div>
<div class="container-fluid" style="margin: 0px 50px 50px 50px ;background-color: white">
    <div class="row">
        <div class="jumbotron">
            <h1>页面出现异常正在紧急修复中</h1>
            <p  th:if="${message!=null&&!message.equals('No message available')}" th:text="${message}"></p>
            <p th:if="${message!=null&&message.equals('No message available')}">你访问的页面不存在</p>
            <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a> <img ty src="/timg.gif"
                                                                                      style="width: 100px;height: 100px">
            </p>
        </div>
    </div>
</div>
</body>
</html>